table {
    margin: auto;
    border-collapse: collapse;
}
#calendar td {
    border: 1px solid black;
    width: 130px;
    height: 100px;
    text-align: center;
} 
.dayCell {
    background-color: paleturquoise;
}
.saturdayName {
    color: blue;
}
.sundayName {
    color: red;
}
.dayName {
    font-weight: bold;
    text-align: center;
}
.dateNumber, .saturday, .sunday {
    margin: 0px 0px 10px 0px;
    vertical-align: top;
}
.saturday {
    color: blue;
}
.sunday {
    color: red;
}
.emptyCell {
    background-color: gainsboro;
}
#side {
    margin: auto;
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: 7fr 3fr;
    gap : 20px;
}
.box {
    display: none;
    margin: auto;
    margin-top: 200px;
    text-align: center;
}
#resultWork td{
    border: 1px solid black;
    padding: 30px;
}
th{
    border: 1px solid black;
    padding: 30px;
}
#inputPay {
    margin-bottom: 50px;
}
input {
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
}
#resultP {
    font-size: 30px;
}